/* Body */
html {
  background: rgba(0,0,0,0.9);
  background-image: url('images/zombie_army.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin: 0;
}
/* Container */
.border {
  border: 2px black solid;
}
/*.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #002244;
}*/
.headerText {
  width: 50%;
  height: auto;
  padding-left: 5%;
}
.gif {
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding-top: .5%;
}
/*.floatRight {
  display: flex;
  justify-content: flex-end;
}*/
/* Header */
.header {
    width: 100%;
    height: 130px;
    /*background-color: #002859;*/
}
.logo {
  height: 100%;
  width: auto;
  padding-right: 5%;

}
/*
.hero_header {
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
}*/
/* About Section */
.text_column {
    width: 90%;
    text-align: left;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}
.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 35px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.thumbnail {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #6DC7D0;
}
.gallery .thumbnail h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #52BAD5;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.gallery .thumbnail p {
    margin: 0;
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px;
}
/* More info */
.intro {
    background-color: #FFFFFF;
    padding-bottom: 35px;
}
.column {
    width: 50%;
    text-align: center;
    padding-top: 30px;
    float: left;
}
.intro .column h3 {
    color: #FFFFFF;
    text-align: center;
}
.intro .column p {
    color: #FFFFFF;
}
.cards {
    width: 100%;
    height: auto;
    max-width: 642px;
    max-height: 1795px;
    opacity: 0.8;
}
.intro .column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    margin-top: 4%;
}
.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}
.button:hover {
    background-color: #6DC7D0;
    color: #FFFFFF;
    cursor: pointer;
}
.black {
  /*background-color: black;*/
  height: 78vh;
}
footer {
    background-color: #B3B3B3;
    padding-top: 60px;
    padding-bottom: 60PX;
}
.intro {
    display: inline-block;
    background-color: #6DC7D0;
}
.profile {
    width: 50%;
}
.gallery .thumbnail .tag {
    color: #5D5E5D;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.buttonPlayButton{
  display: flex;
  justify-content: center;
}
.playButton {
  font-size: 40px;
  border: white solid 2px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 15%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.playButtonLink{
  color: white;
  text-decoration: none;
}
.playButton:hover{
  background-color: white;
  color: black;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: RGBA(0,0,0.9);
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    width: 100%;
}
/* Mobile */
@media (max-width: 320px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.text_column {
    width: 100%;
    text-align: justify;
    padding: 0;
}
.intro .column p {
    width: 80%;
    margin-left: 0px;
}
.text_column {
    padding-left: 20px;
}
.thumbnail {
    width: 100%;
}
.column {
    width: 100%;
    margin-top: 0px;
}
/*.hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
}*/
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.text_column {
    width: 100%;
    text-align: left;
    padding: 0;
}
.thumbnail {
    width: 100%;
}
.column {
    width: 100%;
    margin-top: 0px;
}
.thumbnail {
    width: 100%;
}
.text_column {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}
.column {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.profile {
    width: 100%;
}
.intro .column p {
    width: 90%;
    text-align: center;
    padding-left: 0px;
}
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
    width: 100%;
}
.thumbnail {
    width: 48%;
}
.text_column {
    width: 90%;
    margin: 0;
    padding: 20px;
}
.intro .column p {
    width: 80%;
}
}
