body {
	height: 100%;
	background: #23252B;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#brand {
	max-height: 100px;
}
#map {
	height: 80vh;
}
.center {
  display: flex;
  justify-content: center;
}
.controls {
	background: rgba(14, 14, 14, .5);
	height: 95vh;
	max-width: 280px;

}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.diceRoll {
  display: flex;
  justify-content: center;
}
#status{
  color: white;
}
.dice {
  border: 2px black solid;
  height: 100px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48;
}
.dice2 {
  border: 2px black solid;
  height: 100px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48;
}
.rollDiv {
  display: flex;
  justify-content: center;
}
.thumbnail{
	margin: .5em;
	box-shadow: 3px 3px 10px black;
	height: 8em;
}
.row{
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 2em;
}
.thumbnail {
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.thumbnail:hover {
	background-color: #d8e7ff;
}

.thumbnail:active {
  background-color: #a6afbf;
  box-shadow: -5px -5px 10px #666;
  transform: translateY(4px);
}
