
<head>
<!-- <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>Light Theme</title>
<link href="../client/landing.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" title="no title">
</head>
<body>
<!-- Main Container -->
<div class="container">
  <!-- Header -->
  <header class="header">
    <div class="center">
      <img src="MileHighApocalypse.png" alt="" class=""/>
    </div>
      <!-- <div class="center">
        <img src="Zombie-logo2.png" alt="" class="profile">
      </div> -->
      <!-- <div class="column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
      </div> -->
  </header>
  <!-- Hero Section -->

  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="Zombie-logo2.png" alt="" width="2000" class="cards"/></a>
      <h4>Peyton Manning</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="Zombie-logo2.png" alt="" width="2000" class="cards"/></a>
      <h4>John Elway</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="Zombie-logo2.png" alt="" width="2000" class="cards"/></a>
      <h4>Russell Okung</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="Zombie-logo2.png" alt="" width="2000" class="cards"/></a>
      <h4>Demarias Thomas</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <!-- Footer Section -->
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2016 - <strong>Mile High Apocalypse</strong></div>
</div>
<!-- Main Container Ends -->
</body>
